@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error.</h1>
<h2>An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}