@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>Oh god Oh neuk wat d eneuk oh nee.</h1>
<h2>We kregen een oepsie binnen.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}