@page
@model FeestSpel.Pages.HostModel
@{
    ViewData["Title"] = "Create new";
}

<h1>We gaan een nieuw kamertje machen</h1>
<p class="paddedtext">
    maja heb eigenlijk de logic nog niet echt dus laten we dat nog niet doen.
</p>

<p class="paddedtext">
    <a href="~/">Terug naar home</a>
</p>