@page
@model InvalidateModel
@{
    ViewData["Title"] = "Invalidated Session";
}

<h1>Je spel is voorbij!</h1>
<p>Je wordt terug gestuurd naar de home page in 5 seconden...</p>

<script>
    setTimeout(function () {
        window.location.href = '/';
    }, 5000);
</script>