@page
@using Microsoft.Extensions.Primitives;
@model FeestSpel.Pages.JoinModel
@{
    ViewData["Title"] = "Join Room";
}

@if (Request.Method == "POST" && Request.Form.TryGetValue("submit", out StringValues value))
{
    Request.Form.TryGetValue("roomcode", out StringValues roomcode);

    if (string.IsNullOrEmpty(roomcode)) // Add validity check
    {
        <h1>Je room code is invalid...</h1>
    }
    else
    {
        HttpContext.Session.SetStringValue("roomcode", roomcode);
        HttpContext.Response.Redirect("game");
    }
}
else
{
    <h1>Bestaand spel deelnemen</h1>
    <p class="paddedtext">
        Voer de room code hier in om mee te doen aan een bestaand spel.
    </p>

    <form method="post">
        <input type="text" name="roomcode" />
        <br /><br />
        <input type="submit" name="submit" value="Deelnemen" class="fancybtn"/>
    </form>
}

<p class="paddedtext">
    <a href="~/" class="backlink">Terug naar home</a>
</p>