/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    background-color: #151515;
    color: white;
    user-select: none;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contentbox {
    margin: auto;
    text-align: center;
}

.paddedtext, form {
    padding: 8px;
}

button, .fancybtn {
    min-width: 100px;
    min-height: 35px;
    border-radius: 5px;
    background-color: #edb248;
    border-style: solid;
    border-color: #f7eeba;
    color: #151515;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.smallbutton {
    min-width: 25px;
    min-height: 25px;
}

button:hover, .fancybtn:hover {
    background-color: #fbcf4c;
    cursor: pointer;
}

.icon {
    width: 50px;
    padding: 10px;
}

a {
    color: #BBBBBB;
}

a.social
{
    color: #FFFFFF;
    font-size: 20px;
}

.backlink {
    font-size: 12px;
}

.hugetext {
    font-size: 5vw;
    text-shadow: 2px 2px #000000;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Balsamiq Sans'
}

#hostform {
    width: 350px;
    line-height: 25px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Balsamiq Sans';
    padding-top: 3px;
}

#radiocontainer {
    width: 100%;
}

#radios {
    margin: auto;
    text-align: left;
    display: inline-block;
}

#roomcode {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 3px;
    color: white;
    font-size: 18px;
    line-height: 100%;
    background-color: black;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
}

#hosttag {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
    color: white;
    font-size: 18px;
    line-height: 100%;
    background-color: black;
    border-radius: 5px;
    border-width: 2px;
}

#stoptag {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 3px;
    color: white;
    font-size: 18px;
    line-height: 100%;
    background-color: black;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
}

#castbutton {
    padding: 3px;
    color: white;
    font-size: 18px;
    line-height: 100%;
    background-color: black;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 25px;
    display: none;
}

#betatext
{
    position: absolute;
    top: 15px;
    left: 15px;
}

#cookietext {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#qr {
    width: 125px;
    height: 125px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

@media (max-width: 800px) {
    #qr {
        display: none;
    }
}
