﻿@using InertiaCore
@using InertiaCore.Utils
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proost!</title>
    @await Inertia.Head(Model)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    @Vite.ReactRefresh()
    @await Inertia.Html(Model)
    @Vite.Input("src/App.tsx")

</body>

</html>