@page
@using Microsoft.Extensions.Primitives
@inject GameManager manager
@model FeestSpel.Pages.GameModel
@{
    var roomcode = HttpContext.Session.GetStringValue("roomcode");

    if (HttpContext.Request.QueryString.HasValue)
    {
        roomcode = HttpContext.Request.QueryString.Value.Substring(1);
        HttpContext.Session.SetStringValue("roomcode", roomcode);
    }

    if (manager.GetRoomByCode(roomcode) is null)
    {
        HttpContext.Response.Redirect("/");
    }
    else
    {
        ViewData["Title"] = roomcode;
        bool isHost = manager.CheckHost(roomcode, HttpContext.Session.GetStringValue("hostkey"));
        <p class="hugetext" id="mission"></p>

        <button onclick="sendCast()">Cast (BETA)</button>

        @if (isHost)
        {
            <p id="hosttag">Host Client</p>
            <p id="stoptag" onclick="stopRoom()"><i class="fas fa-times-circle"></i></p>
        }

        <p id="roomcode" onClick="copyRoomcodeToClipBoard()"><i id="copyicon" class="fas fa-copy"></i> Code: @roomcode</p>
        <input type="hidden" id="hiddenRoomCodeField" value="">

        <script src="~/js/qrcode.min.js"></script>
        <div id="qr"></div>
        <script>var roomcode = "@roomcode";</script>
        <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
        <script src="~/js/game.js"></script>
        @if (isHost)
        {
            <script src="~/js/game_hosting.js"></script>
        }
    }
}