@page
@using Microsoft.Extensions.Primitives
@inject GameManager manager
@model FeestSpel.Pages.GameModel
@{
    ViewData["Title"] = manager.DependencyTest();

    var roomcode = HttpContext.Session.GetStringValue("roomcode");

    if (manager.GetRoomByCode(roomcode) is null)
    {
        HttpContext.Response.Redirect("/");
    }
    else
    {
        bool isHost = manager.CheckHost(roomcode, HttpContext.Session.GetStringValue("hostkey"));
        string hostText = "";


        <p class="hugetext" id="mission">
            .
        </p>
        @if (isHost)
        {
            <script>
                window.addEventListener("click",
                    function () {
                        var req = new XMLHttpRequest();
                        req.open("POST", "/api/update");
                        req.send();
                    });
            </script>
            hostText = "[ HOST ]";
        }

        <p id="roomcode">Room Code: @roomcode @hostText</p>



<script>
            // taken from https://css-tricks.com/snippets/javascript/random-hex-color/
            const setBg = () => {
                const randomColor = Math.floor(Math.random() * 16777215).toString(16);
                document.body.style.backgroundColor = "#" + randomColor;
            }

            var mission = document.getElementById("mission");

                    var ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/api/ws");

                    ws.onmessage = function (event) {
                    var response = JSON.parse(event.data);

                switch (response.Action) {
                    case "redirect":
                        window.location.href = response.Context;
                        break;

                    case "text":
                        mission.innerHTML = response.Context;
                        setBg();
                        break;

                    default:
                        break;
                }

            ws.send("OK");
            }
        </script>
    }
}