@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject GameManager manager;

<h1>Welkom bij Proost!</h1>
<p class="paddedtext">
    Drink met mate!
</p>

<p class="paddedtext">
    <button onclick="window.location.href='/host'">Nieuw Spel</button>
    <button onclick="window.location.href='/join'">Bestaand Spel</button>
    <br />
</p>

<p class="paddedtext">
    Actieve games: @manager.GetRoomCount()
</p>

<p class="paddedtext">
    <small>[ OPEN BETA ]</small>
    <br />
</p>

<p class="paddedtext">
    <a href="https://github.com/Naamloos/FeestSpel"><img src="~/img/github.png" width="25" alt="[GH]" /></a>
    <br />
    <small>
        <a href=" mailto:naamloosdt+proostsuggesties@gmail.com?subject=Proost%20suggestie&body=Suggesties%3F%20Ik%20hoor%20graag%20over%20jouw%20idee%C3%ABn!%0D%0A%0D%0A-%20Nieuwe%20feature%3F%0D%0A-%20Nieuwe%20vragen%3F ">
            Suggesties?
        </a>
    </small>
</p>

<p class="paddedtext" id="cookietext">
    Deze website gebruikt alleen essentiële cookies.
</p>