@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welkom!</h1>
<p class="paddedtext">
    Wil je mee doen aan een bestaand spel of wil je je eigen spel starten?
</p>
<p class="paddedtext">
    <button onclick="window.location.href='/host'">Nieuw Spel</button>
    <button onclick="window.location.href='/join'">Bestaand Spel</button>
</p>
<p class="paddedtext">
    Dit is een vroege beta-versie van het spel (dat nu nog geen naam heeft).
</p>
<p class="paddedtext">
    Drink met mate!
</p>