@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject GameManager manager;
<h1>Welkom bij de ProostApp!</h1>
<p class="paddedtext">
    Drink met mate(n)!
</p>

<p class="paddedtext">
    <button onclick="window.location.href='/host'" class="fancybtn">Nieuw Spel</button>
    <button onclick="window.location.href='/join'" class="fancybtn">Bestaand Spel</button>
    <br />
</p>

@if (manager.GetRoomByCode(HttpContext.Session.GetStringValue("roomcode")) != null)
{
    <p class="paddedtext">
        Jouw vorige sessie is nog actief!
    </p>
    <p class="paddedtext">
        <button onclick="window.location.href='/game'" class="fancybtn">Verder gaan.</button>
    </p>
}

<p class="paddedtext">
    Actieve games: @manager.GetRoomCount() Actieve displays: @manager.GetClientCount()
</p>

<p class="paddedtext">
    <a href="https://github.com/Naamloos/FeestSpel" class="social" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/proostapp/" class="social" target="_blank"><i class="fab fa-instagram"></i></a>
    <br />
    <small>
        <a href=" mailto:naamloosdt+proostsuggesties@gmail.com?subject=Proost%20suggestie&body=Suggesties%3F%20Ik%20hoor%20graag%20over%20jouw%20idee%C3%ABn!%0D%0A%0D%0A-%20Nieuwe%20feature%3F%0D%0A-%20Nieuwe%20vragen%3F ">
            Suggesties?
        </a>
    </small>
</p>

<p id="betatext">
    <small>[ OPEN BETA ]</small>
</p>

<p class="paddedtext" id="cookietext">
    Deze website gebruikt alleen essentiële cookies.
</p>

@section Scripts
{

<script src="~/js/particles.min.js"></script>
<script>
    particlesJS("particles", { particles: { number: { value: 10, density: { enable: true, value_area: 500 } }, shape: { type: "image", image: { src: "img/beerx100.png", width: 25, height: 25 } }, size: { value: 40, random: true, anim: { enable: false, speed: 28.769389369710616, size_min: 11.987245570712759, sync: false } }, line_linked: { enable: false, distance: 150, color: "#ffffff", opacity: 0.4, width: 1 }, move: { enable: true, speed: 10, direction: "bottom", random: true, straight: false, out_mode: "out", bounce: false, attract: { enable: false, rotateX: 0, rotateY: 0 } } }, retina_detect: true });
</script>
}