@page
@model InvalidateModel
@{
    ViewData["Title"] = "Invalidated Session";
    double redirectDelay = 3;
}

<h1>Het spel is voorbij!</h1>
<p>Je wordt terug gestuurd naar de homepage in @redirectDelay seconden...</p>

<script>
    setTimeout(function () {
        window.location.href = '/';
    }, @(redirectDelay * 1000));
</script>